:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 30px;
    /* width: 100%; */
    /* border-radius: 50px; */
    background-color: var(--cor-6);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 200px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--cor-2);
}

.img{
    width: 80px;
    border-radius: 8px;
}

h1{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

h2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

p{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.texto{
    border: solid;
    border-radius: 12px;
    background-color: #e6e6e6;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}